@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Shrikhand", cursive;
}
a {
  text-decoration: none;
  color: black;
}

/*A CODER EN MOBILE FIRST*/

/*HEADER*/

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.logo img {
  width: 230px;
}
/*MAIN*/
h2 {
  margin-left: 24px;
}

/*BLOC EXPLORER*/
.explore-contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f6fa;
  width: 100%;
}

/*BLOC FONCTIONNEMENT*/
.fonctionnement-contener {
  padding-bottom: 40px;
}
.btn-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f6fa;
  width: 285px;
  height: 80px;
  margin-bottom: 19px;
  border-radius: 28px;
  font-weight: bold;
}

.btn-number {
  background-color: #9356dc;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*BLOC RESTAURANT*/
.restaurant-contener {
  background-color: #f5f6fa;
  padding: 30px 0;
}

.cards-contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 285px;
  border-radius: 30px;
  border: 1px solid white;
  border-radius: 19px;
  padding-bottom: 12px;
  margin-bottom: 19px;
  background-color: white;
  overflow: hidden;
}
.image img {
  height: 160px;
  width: 100%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}
.new {
  position: absolute;
  margin-left: 180px;
  margin-top: 22px;
  background-color: #99e2d0;
  border: 1px solid #99e2d0;
  width: 85px;
  height: 22px;
  color: green;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.card-text {
  display: flex;
  justify-content: space-between;
  margin: 5px 13px;
}
.plat {
  font-weight: bold;
}
/*FOOTER*/
footer {
  background-color: #333131;
}
.footer-zonetexte {
  padding: 25px 25px;
}

.footer-logo {
  font-size: 23px;
  margin-bottom: 15px;
  color: white;
}
.footer-liens {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
  font-size: 19px;
  color: white;
}
.footer-icon {
  margin-right: 13px;
}
.footer-mentions a {
  font-size: 18px;
  color: white;
}
