@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
}
h1,
h2 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}
a {
  text-decoration: none;
  color: black;
}
/*MOBILE FIRST*/
/*HEADER*/

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}
.logo img {
  width: 180px;
}
/*MAIN*/
h2 {
  margin-left: 24px;
}

/*BLOC EXPLORER*/
.explore-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fa;
  padding-bottom: 28px;
}
.localisation {
  border-top: 3px solid #b4b4b857;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e3e7d5;
  width: 100%;
}

.localisation-icon {
  font-size: 16px;
}
input {
  background-color: #e1e3e7d5;
  padding-left: 17px;
  border: transparent;
  font-family: "roboto";
  font-size: 16px;
  color: black;
  font-weight: bold;
  height: 47px;
}
.titres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px;
}
.btn-explore {
  background-color: #9356dc;
  border: 1px solid #9356dc;
  color: white;
  border-radius: 25px;
  padding: 14px 16px;
  box-shadow: 10px 8px 7px lightgrey;
}
/*BLOC FONCTIONNEMENT*/
.fonctionnement-contener {
  padding-bottom: 30px;
}
.btn-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f6fa;
  width: 240px;
  height: 60px;
  margin-bottom: 19px;
  border-radius: 24px;
  font-weight: bold;
  box-shadow: 0px 5px 12px lightgrey;
}
.btn-number {
  position: absolute;
  margin-right: 239px;
  background-color: #9356dc;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-contener a:hover {
  background-color: #e4d9f1;
}

.btn-contener a:hover .btn-icon {
  color: #9356dc;
}
/*BLOC RESTAURANT*/
.restaurant-contener {
  background-color: #f5f6fa;
  padding: 20px 0;
}
.cards-contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 285px;
  border-radius: 30px;
  border: 1px solid white;
  border-radius: 19px;
  padding-bottom: 12px;
  margin-bottom: 19px;
  background-color: white;
  overflow: hidden;
}
.image img {
  height: 160px;
  width: 100%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
}
.new {
  position: absolute;
  margin-left: 180px;
  margin-top: 22px;
  background-color: #99e2d0;
  border: 1px solid #99e2d0;
  width: 85px;
  height: 22px;
  color: green;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.card-text {
  display: flex;
  justify-content: space-between;
  margin: 5px 13px;
}
.plat {
  font-weight: bold;
}
/*FOOTER*/
footer {
  background-color: #333131;
}
.footer-zonetexte {
  padding: 25px 25px;
}

.footer-logo {
  font-size: 23px;
  margin-bottom: 15px;
  color: white;
  margin-left: 0;
}
.footer-liens {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
  font-size: 19px;
  color: white;
}
.footer-icon {
  margin-right: 13px;
}
.footer-mentions a {
  font-size: 18px;
  color: white;
}

/*RESPONSIVE*/

@media (min-width: 375px) {
  /*FONCTIONNEMENT*/
  .btn {
    width: 90%;
    justify-content: space-around;
  }
  .btn-number {
    position: relative;
    margin-right: 0;
  }
  .btn-icon {
    font-size: 19px;
  }
  .btn-txt {
    font-size: 19px;
  }
  /*RESTAURATION*/
  .cards-contener {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: 854px) {
  .logo img {
    width: 260px;
  }
  input {
    height: 85px;
    font-size: 20px;
  }
  h1 {
    font-size: 36px;
  }
  .titres p {
    font-size: 28px;
  }
  .btn-explore {
    padding: 29px 45px;
    font-size: 26px;
    border-radius: 45px;
  }
  .explore-contener {
    padding-bottom: 54px;
  }
  .card {
    margin: 10px 18px;
  }
  .footer-logo {
    font-size: 38px;
  }
  .footer-liens {
    font-size: 25px;
  }
  .footer-mentions a {
    font-size: 25px;
  }
}
@media (min-width: 960px) {
  .card {
    width: 90%;
  }
  .image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .footer-zonetexte {
    padding: 38px 38px;
  }
  .footer-logo {
    font-size: 44px;
  }
  .footer-liens {
    font-size: 28px;
  }
  .footer-mentions a {
    font-size: 28px;
  }
}
