@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
}
h1,
h2 {
  font-size: 27px;
}
a {
  text-decoration: none;
  color: black;
}
/*MOBILE FIRST*/

/*LOADING*/
/* spinner */
.spinner {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  position: relative;
  left: 20%;
  top: 50%;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: #ad60f5;
  border-radius: 50%;
  animation: spinner1 1.2s linear infinite;
}
.spinner div:nth-child(2) {
  border: 8px solid transparent;
  border-bottom-color: #ad60f5;
  animation: spinner2 1.2s linear infinite;
}
.spinloader {
  background: rgba(10, 10, 10, 0.6);
  animation: spinloader 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
}

/*spin animations*/
@keyframes spinner1 {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
@keyframes spinner2 {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}
@keyframes spinloader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/*HEADER*/

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}
.logo {
  font-family: "Shrikhand";
  font-size: 35px;
}
/*MAIN*/
h2 {
  margin-left: 24px;
}

/*BLOC EXPLORER*/
.explore-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6fa;
  padding-bottom: 28px;
}
.localisation {
  border-top: 3px solid #b4b4b857;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e3e7d5;
  width: 100%;
}
.localisation-icon {
  font-size: 16px;
}
input {
  background-color: #e1e3e7d5;
  padding-left: 17px;
  border: transparent;
  font-family: "roboto";
  font-size: 16px;
  color: black;
  font-weight: bold;
  height: 47px;
}
.titres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px;
}
.btn-explore {
  border: 1px solid transparent;
  color: white;
  border-radius: 25px;
  padding: 14px 16px;
  box-shadow: 10px 8px 7px lightgrey;
  transform: scale(1);
  transition: transform 400ms;
}
.titres a:hover {
  transform: scale(1.05);
}
.btn-gradient {
  background: linear-gradient(168deg, #ff79da 0%, #9356dc 80%);
}
/*BLOC FONCTIONNEMENT*/
.fonctionnement-contener {
  padding-bottom: 30px;
}
.btn-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f6fa;
  width: 240px;
  height: 60px;
  margin-bottom: 19px;
  border-radius: 24px;
  font-weight: bold;
  box-shadow: 0px 5px 12px lightgrey;
  transform: scale(1);
  transition: transform 400ms;
}
.btn-contener a:hover {
  background-color: #e4d9f1;
  transform: scale(1.05);
}

.btn-contener a:hover .btn-icon {
  color: #9356dc;
}

.btn-number {
  position: absolute;
  margin-right: 239px;
  background-color: #9356dc;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*BLOC RESTAURANT*/
.restaurant-contener {
  background-color: #f5f6fa;
  padding: 20px 0;
}
.cards-contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 285px;
  border-radius: 30px;
  border: 1px solid white;
  border-radius: 19px;
  padding-bottom: 12px;
  margin-bottom: 19px;
  background-color: white;
  overflow: hidden;
  box-shadow: 9px 6px 12px lightgrey;
}
.image img {
  height: 160px;
  width: 100%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  object-fit: cover;
}
.new {
  position: relative;
  left: 10px;
  top: 10px;
  background-color: #99e2d0;
  border: 1px solid #99e2d0;
  width: 85px;
  height: 22px;
  color: green;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.card_description {
  display: flex;
  justify-content: space-between;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 13px;
}
.plat {
  font-weight: bold;
}

.coeur {
  position: relative;
  margin-right: 22px;
  margin-top: 8px;
}
.coeur i {
  color: #9d9d9d;
  font-size: 24px;
  left: 50%;
}
.coeur .heart-gradient {
  left: 0;
  opacity: 0;
  position: absolute;
}
.coeur .heart-gradient:hover {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
  z-index: 999;
}
.coeur:hover {
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
}
.coeur .heart-default:hover {
  opacity: 0;
}
.coeur .heart-default:hover,
.coeur:hover,
.coeur .heart-gradient:hover {
  transition: 1s 0.7s ease;
}

/*FOOTER*/
footer {
  background-color: #333131;
}
.footer-zonetexte {
  padding: 25px 25px;
}
.footer-logo {
  font-size: 23px;
  font-family: "Shrikhand";
  margin-bottom: 15px;
  color: white;
  margin-left: 0;
}
.footer-liens {
  display: flex;

  flex-direction: row;
  margin-bottom: 13px;
  font-size: 18px;
  color: white;
}
.footer-icon {
  margin-right: 13px;
}
.footer-mentions a {
  font-size: 18px;
  color: white;
}

/*RESPONSIVE*/

@media (min-width: 355px) {
  /*RESTAURATION*/
  .card {
    width: 80%;
    margin-bottom: 23px;
  }
}

@media (min-width: 854px) {
  /*BLOC EXPLORER*/
  .logo {
    font-size: 46px;
  }
  .btn-contener {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .explore-contener {
    display: flex;
    flex-direction: row;
  }
  .localisation {
    width: 50%;
  }
  .titres {
    width: 50%;
  }
  .logo {
    width: 290px;
  }
  input {
    height: 85px;
    font-size: 20px;
    width: 350px;
  }
  .localisation {
    border: 3px solid transparent;
    border-radius: 25px;
  }
  ::placeholder {
    color: black;
  }
  .localisation-icon {
    color: black;
    font-size: 20px;
  }
  h1 {
    font-size: 32px;
  }
  .titres p {
    font-size: 21px;
  }
  .btn-explore {
    padding: 17px 28px;
    font-size: 26px;
    border-radius: 45px;
  }
  .btn {
    width: 283px;
  }
  .btn-number {
    margin-right: 288px;
  }
  .cards-contener {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    margin: 10px 18px;
    width: 40%;
  }

  .footer-zonetexte {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-logo {
    font-size: 47px;
    margin-bottom: 45px;
  }
}

@media (min-width: 960px) {
  .cards-contener {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .card {
    width: 40%;
  }
  .localisation-icon {
    font-size: 26px;
  }
}
@media (min-width: 1470px) {
  .logo {
    font-size: 52px;
  }
  .btn {
    width: 370px;
  }
  .btn-number {
    margin-right: 374px;
  }
}
